/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background-color: #FFF;
  font-family: Helvetica, Tahoma, Arial, Hiragino Sans GB, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif !important;
}

/*to override the pure frame default*/
.pure-g [class *= "pure-u"] {
  font-family: Helvetica, Tahoma, Arial, Hiragino Sans GB, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif !important;
}


h1,h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  margin-top: 40px;
}

a{ color: #000; text-decoration: none;}
a:hover{ color: #777; text-decoration: underline;}

article{
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

ul,ol{list-style-position: inside; padding-left: 10px; padding-top: 5px;padding-bottom: 5px;}

blockquote{
  padding-left: 10px;
  border-left: 4px solid #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #555;
}

p{
  margin-bottom: 15px;
}
img{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 50em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
}

/*****************************************************************************/
/*
/* Frame
/*
/*****************************************************************************/

/*headers*/
.header{
  display: block;
  position: relative;
  padding: 15px 0px 0px 15px;
}
.header h1{
  display: inline;
  font-size: 2.0em;
  font-weight: bold;
  color: #333;
}



/*container*/
.container{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

/*footer*/
footer {
  display: block;
  font-size: 14px;
  border-top: 1px solid #ccc;
  text-align: center;
  margin-bottom: 25px;
}

footer a{
  color: #777;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post-title a{font-weight: normal;color: #777}
.post-body{
  position: relative;
  width: 500px;
  display: block;
  min-height: 50px;
}

.post-content{
  font-size: 16px;
  word-wrap: break-word;
  margin-top: 20px;
}

.post-content h1{font-size: 25px;}
.post-content h2{font-size: 20px;}
.post-content h2 a:visited{color: #666;}
.post-content a{text-decoration: underline;}

ol{list-style-type: lower-roman;}
ul{list-style-type: square;}

pre{
  background-color: #F9F9F9;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

p>code{
  background-color: #eee;
  border-radius: 2px;
  font-size: 16px;
}


/*****************************************************************************/
/*
/* Post list
/*
/*****************************************************************************/

.post-list-title h2{margin-bottom: 0;font-size:16px;}

.pagination{
  width: 180px;
  border: 1px solid #000;
  text-align: center;
}

/*****************************************************************************/
/*
/* People
/*
/*****************************************************************************/
.userinfo{
  padding-left: 15px;
  margin-top: 10px;
}
.userinfo h2
{
  position: relative;
  left: 15px;
  top: -15px;
  display: inline;
  font-size: 28px;
  color: #444;
}
.userinfo ul{padding-left: 0;}
.userinfo ul li{
  margin-bottom: 10px;
  list-style-type: none; 
}

.userinfo img{
  position: relative;
  width: 64px;
  height: 64px;
  margin-bottom: 0;
  margin-top: 0;
}

.userinfo a{
  color: #777;
}

