---
layout: default
no_duoshuo: true
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%Y 年 %m 月 %d日" }}</p>
          <h4 class="post-title">{{ post.title }}</h4>
          <!-- <p class="post-summary">{{ post.summary }}</p> -->
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
