---
layout: default
title: 私研
---


<div class="posts">
  <h1 class="content-subhead">Recent Post</h1>

{% for post in paginator.posts %}
  {% if post.categories[0] == "post" %}

  <!-- A single blog post -->
  <section class="post">
      <header class="post-header">
          <a href="/people/{{ post.author }}.html">
            <img class="post-avatar" height="48" width="48" src="/assets/images/people/{{ post.author }}.jpg">
          </a>
          <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="post-meta">
            <a href="/people/{{ post.author }}.html" class="post-author">{{ post.author }}</a> writes on 
            {{ post.date | date_to_string }}
          </p>
      </header>

      <div class="post-description">
        <p>
          {{ post.content  | | split:'<!-- break -->' | first }}
          阅读全文 full post ==><a rel="nofollow" href="{{ post.url }}">http://octsky.com{{ post.url }}</a>
        </p>
       </div>
  </section>
  {% endif %}
{% endfor %}

</div>



<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1%}
     <a href="/" title="Previous Page">前页</a>
    {% else %}
     <a href="/page{{ paginator.previous_page }}" class="previous">前页</a>
     {% endif %}
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">后页</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>




