#fLicence {float: right; margin: 5px 0 10px;}

#headerWrap {border-bottom: 1px solid #E6E6E6; background: #FFF;}
* html #headerWrap {text-align: center;}

#header:after{content: ".";display:block;clear:both;height:0;visibility:hidden;}
* html #header {height:1%;}
#header #gsName {float: left;}
#header #gNav {float: right;}
#header li {float: left;}
#header #siteName a,
#header #globalNav a {display: block;overflow: hidden; height: 18px; background-image: url(/assets/images/head.png);background-repeat: no-repeat;font-size: 1px;line-height: 1px;text-indent: -9999px;}

#siteName a{width: 120px;background-position: 0 0px;}
#siteName a:hover{ background-position: 0 -18px;}

#globalNav #gnHome a { width: 30px; background-position: 0 -40px; }
#globalNav #gnCategories a { width: 45px; background-position: -33px -40px; }
#globalNav #gnArchive a { width: 45px; background-position: -91px -40px; }
#globalNav #gnNote a { width: 30px; background-position: -148px -40px;}
#globalNav #gnImage a { width: 45px; background-position: -181px -39px; }
#globalNav #gnContact a { width: 45px; background-position: -238px -40px; }


#globalNav #gnHome a:hover { background-position: 0 -58px; }
#globalNav #gnCategories a:hover { background-position: -33px -58px; }
#globalNav #gnArchive a:hover { background-position: -91px -58px; }
#globalNav #gnNote a:hover { background-position: -148px -58px;}
#globalNav #gnImage a:hover { background-position: -181px -58px; }
#globalNav #gnContact a:hover { background-position: -238px -58px; }
