<header id="headerWrap">
    <div id="header">
        <div id="siteName">
            <a href="http://octsky.com/" id="top" name="top" title="Octsky 日常">Octsky 日常</a> 
        </div>
    <ul id="globalNav"> 
        <li id="gnHome"><a href="http://octsky.com/" title="首页">首页</a></li>
        <li id="gnCategories"><a href="/categories/" title="文章分类">文章分类</a></li>
        <li id="gnArchive"><a href="/archive/" title="日志集合">日志集合</a></li>
        <li id="gnNote"><a href="/note/" title="笔记">笔记</a></li>
        <li id="gnImage"><a href="http://www.flickr.com/photos/octobershiner" title="时光影像">时光影像</a></li>
        <li id="gnContact"><a href="/about/" title="联系我">联系我</a></li>
    </ul>
    </div>
</header>


<script>
$(document).ready(function(){
	$('a').hover(
		function(){
			$(this).animate({opacity: 0.3}, 400)
		}, 
		function(){
			$(this).animate({opacity: 1}, 400)
		});
});
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
</script>

<!-- Google web track-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44834650-1', 'octsky.com');
  ga('send', 'pageview');

</script>