<ul class="nav nav-pills">
  <li><a href="/">Home</a></li>
  <li><a href="/archive/">Archive</a></li>
  <li><a href="/categories/">Categories</a></li>
  <li><a href="/note">Note</a></li>
  <li><a href="/about/">About</a></li>
<!--   <li class="hidden-sm"><a href="/links/">Links</a></li>-->
<!--   <li><a href="/feed.xml">Feed</a></li> -->
</ul>

<script>
$(document).ready(function(){
	$('a').hover(
		function(){
			$(this).animate({opacity: 0.3}, 400)
		}, 
		function(){
			$(this).animate({opacity: 1}, 400)
		});
});
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
</script>

<!-- Google web track-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44834650-1', 'octsky.com');
  ga('send', 'pageview');

</script>