    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/assets/favicon.jpg" >


        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/main-grid-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/css/main-grid.css">
        <!--<![endif]-->
      

        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/blog-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/css/layouts/blog.css">
        <!--<![endif]-->

        <link rel="stylesheet" href="/css/post.css">
        <!-- Google author link -->
        <link rel="author" href="https://plus.google.com/u/0/108338522793434110601">
    </head>