<meta charset="utf-8" />
<link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/feed.xml">
<link rel="shortcut icon" href="/assets/images/favicon.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/lib/css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="/lib/css/muji.css" type="text/css">
<link rel="stylesheet" href="/lib/css/cn.css" type="text/css">
<link rel="stylesheet" href="/lib/css/style.css" type="text/css">

<script type="text/javascript" src="/lib/js/jquery-1.11.0.min.js"></script>