<div id="custom_sidebar">
  
  <img src="https://en.gravatar.com/userimage/31743316/ae9c1a2da22d8f5a2206977178c4e6f9.png?size=140" alt="self" id="me">
  <h5>Yang Lee</h5>
  <p>
    Hello! I'm a <a target="_blank" href="http://en.wikipedia.org/wiki/Software_engineering">SE</a> student from <a href="http://en.hit.edu.cn/" >HIT</a>. I am now working in Web Intelligence laboratory of CS in HIT, resposible for <strong>WI Inputmethod </strong>android version and <strong>Cloud Platform</strong>.
	</p>

	<h5>Hobbies</h5>
	<p>
		I hava many hobbies like photograph， basketball and reading.
	</p>
	<h5>Contact</h5>

  <ul id="contact_list">
    <li>
      <a href="http://github.com/leeon">
        <img src="/assets/images/icons/github.png">
        Github
      </a>
    </li>

    <li>
      <a href="http://weibo.com/v5liyang">
        <img src="/assets/images/icons/sina.png">
        Weibo
      </a>
    </li>

    <li>
      <a href="mailto:leeon.ly@foxmail.com">
       leeon.ly@foxmail.com
      </a>
    </li>
  </ul>

</div>