            <div class="sidebar pure-u-1 pure-u-med-1-4">
                <div class="header">
                    <hgroup>
                        <h1 class="brand-title"><a href="/">私研</a></h1>
                        <h2 class="brand-tagline"></h2>
                    </hgroup>

                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/page">Explore</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>