<!DOCTYPE HTML>
<html>
<!-- <html> -->
<head>
  <title>{{ page.title }}|{{ site.title }}</title>
  {% include header.html %}
  <script type="text/javascript">
        var BYB = {};
  </script>
  <script type="text/javascript">
    BYB.includeScript = function(file,callback){
    var _doc = document.getElementsByTagName('head')[0];
    var js = document.createElement('script');
    js.setAttribute('type', 'text/javascript');
    js.setAttribute('src', file);
    _doc.appendChild(js);
    
    if (!/*@cc_on!@*/0) { //if not IE
    //Firefox2、Firefox3、Safari3.1+、Opera9.6+ support js.onload
    js.onload = function () {
    callback();
    }
    } else {
    //IE6、IE7 support js.onreadystatechange
    js.onreadystatechange = function () {
    if (js.readyState == 'loaded' || js.readyState == 'complete') {
    callback();
    }
    }
    }
    return false;
    }
  </script>
  <meta content="{{ page.description }}" name="description"/>
  <meta content="{% for tag in page.tags %}{{ tag }},{% endfor %}" name="keywords"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
</head>
<body>
<div class="container">
<div class="banner">
{% include banner.html %}
</div>

<div class="main">
  <div class="title"><a href="{{ page.url }}">{{ page.title }}</a></div>
<div class="author"><img src="/assets/images/authors/leeon.png"/> <span class="name">李陽</span></div>
  <div class="content {{ page.categories }}_content_css">
    {{ content }}
  </div>

  <div class="info">
    记于{{ page.date | date:"%Y年%m月%d日"}} 
  </div>

  <div class="forb">
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}">#{{ tag }}</a>
  {% endfor %}
  </div>

  <div class="suggest">
    {% if page.previous %}
        <a href="{{page.previous.url}}" class="pre">&lt; {{page.previous.title}}</a>
    {% endif %}
    
    {% if page.next %}
        <a href="{{page.next.url}}" class="next">{{page.next.title}} &gt;</a>
    {% endif %}
    </div>

</div>

<!--disqus Start-->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'octsky'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<!--disqus END--> 

<!--google image avatar-->
<a href="https://plus.google.com/u/0/116611495107032888078/?rel=author"></a>

<!--share box-->
<a href="http://www.jiathis.com/share/" class="blog-top affix jiathis">Like</a> 
<!-- <script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>
<a href="http://ask.fm/octsky" target=_blank class="blog-top ask" >Ask</a>  -->
{% include footer.html %}

</div>
</body>
</html>
