<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <link rel="stylesheet" href="{{ ASSET_PATH}}/css/blog.css">
    <!-- <link href="{{ ASSET_PATH }}/css/syntax.css?body=1" rel="stylesheet" type="text/css" media="all"> -->
    <link rel="stylesheet" href="{{ ASSET_PATH}}/css/syntax.css">
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/favicon.jpg" />


    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div class="pure-g" id="layout">
      <div class = "menu pure-u">
    <!-- Blog nav-->
        <div id="menu" class="pure-menu pure-menu-open">
              <a class="pure-menu-heading" href="{{ HOME_PATH }}">{{ site.title }}</a>
              <ul>
                  {% assign pages_list = site.pages %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
                  <!--you can add a new nav option here -->
                  <li><a href="/note">筆記</a></li>
                  <li><a target=_blank href="http://www.flickr.com/photos/octobershiner">攝影</a></li>
                  <li><a target=_blank href="http://log.leeon.org">Log</a></li>
                  <li><a href="/links.html">朋友</a></li>
                  <li class="menu-item-divided"><a href="">目錄</a></li>
              </ul>
           </div>
      </div>

      <!--Content-->
      <div class = "pure-u-1">
        <div class="content">
          {{ content }}
        </div>

       <!--Foot-->
      <div class = "pure-u-1">
        <footer class="blog-footer">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh_TW"><img alt="創用 CC 授權條款" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br />本著作由<a xmlns:cc="http://creativecommons.org/ns#" href="http://leeon.org" property="cc:attributionName" rel="cc:attributionURL">Leeon</a>製作，以<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh_TW">創用CC 姓名標示-非商業性-禁止改作 3.0 Unported 授權條款</a>釋出。
          </p>
          <p>This site is the under <a href="http://opensource.org/licenses/mit-license.php" target="_blank" title="MIT"> The MIT Licesense</a> and mirrored at <a href="http://github.com" target="_blank">Github</a>
          </p>
        </footer>
      </div>

      </div>
      <!--Quick Back to Top-->
      <div class="pure-u-1">
        <a href="#" class="blog-top affix">Back to top</a>      
      </div>
    <!--{% include sidebar.html %}-->
    {% include JB/analytics %}
    </div>



  </body>
</html>
