<div class="posts">
<div class="header">
    <h1>{{ page.title }}</h1>
    <h2 id="title-info">Author <a class="post-author" href="#">Leeon</a> on
    {{ page.date | date_to_long_string }} 
              <a href="http://www.jiathis.com/share/" class="blog-share jiathis" target="_blank">Share</a>
    <script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>
    </h2>  
</div>

  <section class="post">
    <div class="post-content">
      <p>
        {{ content }}
      </p>

    </div>
  </section>

  <div id="post-nav" class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇</a></li>
      {% else %}
        <li class="prev disabled"><a>没有比这个更古老的</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">目录</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}">下一篇</a></li>
      {% else %}
        <li class="next disabled"><a>已经是最新了</a>
      {% endif %}
    </ul>
  </div>



</div>

<div class="pure-g">
<div class = "pure-u-1">
<!-- 多說評論 -->
  <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"leeonblog"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->
</div>
</div>

</div>
