<div class="posts">
<div class="header">
    <h1>{{ page.title }}</h1>
    <h2 id="title-info">Author <a class="post-author" href="#">Leeon</a> on
    {{ page.date | date_to_long_string }}</h2>  
</div>

  <section class="post">
    <div class="post-content">
      <p>
        {{ content }}
      </p>

    </div>
  </section>

  <div id="post-nav" class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous: 《{{ page.previous.title }}》</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archives</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}">Next: 《{{ page.next.title }}》 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
    </ul>
  </div>

</div>

<div class="pure-g">
<div class = "pure-u-1">
<!-- Duoshuo Comment BEGIN -->
  <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"leeonblog"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->
</div>
</div>






<div class="row">

  {% unless page.categories == empty %}
    {% assign categories_list = page.category %}
    {% include JB/categories_list %}
  {% endunless %}  

  </div>
</div>
