<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }} </small></h1>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous: 《{{ page.previous.title }}》</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archives</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}">Next: 《{{ page.next.title }}》 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}

      </ul>
    </div>
    <hr>



    
    <!--comments here-->
<!-- Duoshuo Comment BEGIN -->
  <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"leeonblog"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->
    <!--comments end -->
  </div>
  
  <div class="span3">
    <h4>Author</h4>
    <div class="date"><span>leeon</span></div>
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.categories == empty %}
    <h4>Category</h4>
    <ul class="tag_box">
    {% assign categories_list = page.category %}
    {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  </div>
</div>
